---
Language: Cpp
BasedOnStyle: LLVM
Standard: Latest

ColumnLimit: 120
IndentWidth: 4
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
AccessModifierOffset: -4
NamespaceIndentation: None

DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Pointer

BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeConceptDeclarations: Always
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: NextLine

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false

BinPackArguments: true
BinPackParameters: false

SpaceBeforeParens: ControlStatements
SpacesInAngles: Never
SpacesInContainerLiterals: false
SpaceBeforeRangeBasedForLoopColon: true

AlignAfterOpenBracket: Align
AlignOperands: Align
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignConsecutiveMacros: None

BreakBeforeTernaryOperators: true
BreakStringLiterals: true
ReflowComments: true

SortIncludes: true
IncludeBlocks: Regroup

IncludeCategories:
  - Regex: '^<.*>'
    Priority: 1
  - Regex: '^".*"'
    Priority: 2

RequiresClausePosition: OwnLine
SeparateDefinitionBlocks: Always
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1