BasedOnStyle: LLVM
Standard: Latest

ColumnLimit: 120

IndentWidth: 4
ContinuationIndentWidth: 4
AccessModifierOffset: -4
NamespaceIndentation: None

PointerAlignment: Left
BreakBeforeBraces: Attach

SortIncludes: true
IncludeBlocks: Regroup

AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveAssignments: Consecutive

BinPackArguments: true
BinPackParameters: true

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never

BreakBeforeBinaryOperators: NonAssignment
ReflowComments: true